.portfolioList {
    font-size:14px;
    // margin-right: 25px;
    // margin-left: 25px;
    padding: 7px;
    border-radius: 10px;
    cursor:pointer;
}

.active {
    background-color: lightgreen;
    color:white;
    cursor:pointer;
}