.contact {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh);
}

.contact-title {
    display:flex;
}

.contact-title h1{
    font-size: 50px;
    padding: 50px 50px 50px 50px;
    display: flex;
    align-items: center;
    justify-items: center;
    font-family: Roboto;
    font-weight: 10;
    
}

.contact-section {
    display:flex;
    width:100%;
    align-items: center;
    justify-content: center;
}

.contact-img {
    flex:1;
    align-items: center;
    justify-content: center;  
}

.contact-form {
    flex:1;
    display:flex;
    justify-content: center;
}

.contact-form form  * {
    margin: 1px;
}




// .left {
//     flex: 1;
// }

// .left img {
//     height: 100%;
//     width: 100%;
//     overflow: hidden;
// }
// .right{
//     flex: 1;
//     display: flex;
//     flex-direction: column;
//     align-items:center;
//     justify-content: space-around;
// }

// h2 {
//     font-size:30px;
// }



form {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input {
        width:80%;
        height:30px;
        font-size:14px;
    }

    textarea {
        width: 80%;
        height:200px;
        font-size:14px;
    }

    button {
        width: 150px;
        height: 30px;
        color: white;
        background-color: lightgreen;
    }
}